# Git
.git
.gitignore

# Environment & Configs
.env
.vscode/
pyrightconfig.json

# Python cache & virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
.venv/

# Databases & local state
*.db
*.sqlite
*.sqlite3

# Documentation & Markdown
README.md
INFO.md
